{% extends "jTemplate.html" %}

 {% block title %} WordScramble{% endblock %} 
 {% block head %}}
	{{ super() }}
 {% endblock %}
  
{% block content %}
<div class="medium-6 medium-centered large-4 large-centered text-center columns">
	<form action="/quiz/find/go/" method="post" id='post-form'>
		<div class="row column quiz-find-form">
		<h4 class="text-center">Find a Quiz</h4>
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		
			<label>Input your Quiz Code. Get this from your teacher.</label>
			<input type="text" name="pk" id="pk" placeholder="Quiz Code goes here.">
		
			<div class="buttondiv">
				<button type="submit" class="success button expanded mysavebutton" name="find_form">Find</button>
				
				
				
				<h5 class="text-center">Don't have a Quiz?</h5>
				<button type="submit" class="success button medium-center mydankbutton" name="create-quiz-redirect">Create Quiz</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}

{% block sidebarContent %}
	<a href="#">Create Quiz</a>
    <a href="#">View Quizzes</a>
{% endblock %}
