{% extends "jTemplate.html" %}

 {% block title %}Quiz-ID{% endblock %} 
 {% block head %}}
	{{ super() }}
 {% endblock %}
  
{% block content %}
 <div class="medium-6 medium-centered large-4 large-centered columns">

	<form>
	
		<div class="row column quiz-code">
			<h2 class="text-center">Quiz  {{ quiz.title }}  is Saved!</h2>
			<h3 class="text-center"> The quiz can be taken with the code:  {{{ quiz.pk }}   </h3>
			<p class="text-center"><a href="#">Take Quiz</a></p>   
		</div>
	</form>

</div>
{% endblock %}

{% block sidebarContent %}
	<a href="#">Create Quiz</a>
    <a href="#">View Quizzes</a>
{% endblock %}





