{% extends "jTemplate.html" %}

 {% block title %} WordScramble{% endblock %} 
 {% block head %} 
	{{ super() }}
 {% endblock %}
  
{% block content %}
	<div class="medium-6 medium-centered large-4 large-centered columns">

    <form action="/quiz/edit/{{ quiz.pk }}/save/" method="post" id='post-form' target="_blank">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">>
    <div class="row column log-in-form">
    <h4 class="text-center">Create a Quiz</h4>
		
    
	<label>Name:
        <input type="text" id="title" name="title" placeholder="Name of the quiz">
        </label>	
	<label>Language:
	<input type="text" id="language" name="language" placeholder="Language of the quiz"></label>	
	<label>Current Questions:
	<div class="button-group inputbuttons">
	<div id="addAnswer" >
	<script>
	$(document).ready(function() {
	var amount = 0;
	$('#addField').click(function() {
		if(amount < 10){
			$("#addAnswer").append(" <input type=\"text\" class=\"mcinputbox\" name=\"answers[]\" placeholder=\"Type your answer in here\"></br>");
			amount++;			
		}
	});
	$('#removeField').click(function() {
		if(amount > 4){
			console.log("fsdfdsf");
			$("#addAnswer input:last").remove();
			$("#addAnswer input:last").remove();
			$("#addAnswer br:last").remove();
			amount--;
		}
	});}
    </script>
     <div class="button-group inputbuttons">
        <button type="button" class="button" id="addField">Add field</button>
    <button type="button" class="button" id="removeField">Remove field</button></br>
    </div>  
    </div>

	</label>
	<div class="buttondiv">
              <button type="submit" class="success button mysavebutton" name="save_form">Save</button>
              <button type="submit" class="button cancelbutton" name="cancel_form">Cancel</button>
        </div>
	</label>

      
      </div>
    </form>
	
    </div>
{% endblock %}

{% block sidebarContent %}
	<a href="#">Create Quiz</a>
    <a href="#">View Quizzes</a>
{% endblock %}





