@charset "utf-8";

@import 'settings';
@import 'foundation';

@include foundation-everything;

$HeaderColour: #79E263;
$MenuColour: #303030;
$BaseColour: #EDEDED;
$HighlightColour: #EF3737;
$LogoColour: #1e1e1e;
$LoginColour: #488C3A;

@import "base";
@import "mcq-display";
@import "mcq-update";