@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-everything;

$HeaderColour: #79E263;
$MenuColour: #303030;
$BaseColour: #EDEDED;
$HighlightColour: #EF3737;
$LogoColour: #1e1e1e;
$LoginColour: #488C3A;


body{
  overflow: hidden;
  background: #303030;
}

/*
TITLE
*/

.title-bar{
  width: 100%;
  height: 100px;
  background: $HeaderColour;
  z-index: 5;
}

.title-bar-title{
  font-family: 'Oswald', 'sans-serif';
  position: fixed;
  left: 80px;
  top: 30px;
  font-size: 50px;
  color: $LogoColour;
}

/*
MENU BUTTON
*/

.hamburger{
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear ;
  cursor: pointer;

  &:hover span{
    background: $HighlightColour;
  }
}

.topLine, .innerLine, .bottomLine{
  display: block;
  position: absolute;
  height: 4px;
  width: 40px;
  background: $BaseColour;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.topLine{
  top: 0;
}

.innerLine{
  top: 10px;
}

.bottomLine{
  top: 20px;
}

.hamburger.cross .topLine {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.hamburger.cross .innerLine{
  opacity: 0;
}

.hamburger.cross .bottomLine{
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/*
MENU BAR
*/
.sidebar{
  position: absolute;
  width: 60px;
  top: 0;
  left: 0;
  height: 100%;
  background: $MenuColour;
}

.menu-content{
  display: block;
  position: absolute;
  opacity: 1;
  width: 170px;
  height: 100%;
  z-index: -1;
  background: transparent;
  font-family: "Lato", "sans-serif";
  padding-top: 20px;
}

.menu-content a{
  text-decoration: none;
  color: $BaseColour;
  padding: 15px;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.menu-content a:first-child{
  border-top: 1px solid rgba(0,0,0,0.3);
}

.menu-content a:hover{
  color: $HighlightColour;
}

/*
BODY
*/

.content {
  background: $BaseColour;
  position: absolute;
  top: 100px;
  left: 60px;
  height: 100%;
  width: 100%;
}

/*
LOGIN BUTTON
 */

.loginButton{
  top: 30px;
  width: 80px;
  border: none;
  background: transparent;
  height: 75px;
  font-family: "Oswald", "sans-serif";
  color: $LoginColour;
  font-size: 25px;
  border-left: 1px solid rgba(0,0,0,0.3);
  margin-top: 20px;
}

.loginButton:hover{
  color: $HighlightColour;
}
