@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-everything;

$HeaderColour: #79E263;
$MenuColour: #303030;
$BaseColour: #EDEDED;
$HighlightColour: #EF3737;
$LogoColour: #1e1e1e;
$LoginColour: #488C3A;


body{
  overflow: hidden;
  background: $BaseColour;
  overflow-y: auto;
}

/*
TITLE
*/

.title-bar{
  width: 100%;
  height: 100px;
  background: $HeaderColour;
  z-index: 5;
}

.title-bar-title{
  font-family: 'Oswald', 'sans-serif';
  position: absolute;
  left: 100px;
  top: 30px;
  font-size: 50px;
  color: $LogoColour;
}

/*
MENU BUTTON
*/

.hamburger{
  width: 40px;
  height: 30px;
  position: relative;
  margin: 20px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear ;
  cursor: pointer;

  &:hover span{
    background: $HighlightColour;
  }
}

.topLine, .innerLine, .bottomLine{
  display: block;
  position: absolute;
  height: 4px;
  width: 40px;
  background: $BaseColour;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.topLine{
  top: 0;
}

.innerLine{
  top: 10px;
}

.bottomLine{
  top: 20px;
}

.hamburger.collapse .topLine {
  opacity: 0;
  -webkit-transform: translate(0,10px);
  -moz-transform: translate(0,10px);
  -o-transform: translate(0,10px);
  transform: translate(0,10px);
}

.hamburger.collapse .innerLine{
  opacity: 1;
}

.hamburger.collapse .bottomLine{
  opacity: 0;
  -webkit-transform: translate(0,-10px);
  -moz-transform: translate(0,-10px);
  -o-transform: translate(0,-10px);
  transform: translate(0,-10px);
}

/*
MENU CROSS
*/
.cross{
  width: 40px;
  height: 30px;
  position: relative;
  margin: 20px 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  cursor: pointer;
}

.crossNegative .crossPositive{
  display: block;
  position: absolute;
  height: 4px;
  width: 40px;
  background: $BaseColour;
  border-radius: 4px;
  opacity: 1;
  top: 10px;
  left: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

/*
MENU BAR
*/
.sidebar{
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: 100%;
  background: $MenuColour;
}

.menu-content{
  display: block;
  position: absolute;
  opacity: 1;
  width: 170px;
  height: 100%;
  z-index: -1;
  background: transparent;
  font-family: "Lato", "sans-serif";
  padding-top: 20px;
}

.menu-content a{
  text-decoration: none;
  color: $BaseColour;
  padding: 15px;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.menu-content a:first-child{
  border-top: 1px solid rgba(0,0,0,0.3);
}

.menu-content a:hover{
  color: $HighlightColour;
}

/*
BODY
*/
.content {
  background: $BaseColour;
  position: absolute;
  height: 100%;
  width: 100%;
}

/*
LOGIN PAGE
*/

$medium-gray: #cacaca;
$global-padding: 1rem;
$global-radius: 3px;

$form-border-color: $medium-gray;
$form-padding: $global-padding;
$form-radius: $global-radius;

.log-in-form {
  border: 1px solid $form-border-color;
  padding: $form-padding;
  border-radius: $form-radius;
}

/*
LOGIN BUTTON
 */

.loginButton{
  top: 30px;
  width: 80px;
  border: none;
  background: transparent;
  height: 75px;
  font-family: "Oswald", "sans-serif";
  color: $LoginColour;
  font-size: 25px;
  border-left: 1px solid rgba(0,0,0,0.3);
  margin-top: 20px;
}

.loginButton:hover{
  color: $HighlightColour;
}