h4{
	text-align: left;
	margin-left: 1.4rem;
}

.mcheading{
	text-align: center;
	font-weight: bold;
}

.mctextareas{
	margin-left: 1.4rem; 
	height: 100px;
	width: 90%;
}

.mcinputbox{
	font-family: "Raleway", "sans-serif";
	margin-left: 1.4rem; 
	display: inline-block; 
	width: 90%;
}

.checkbox{
	margin-left: 1.4rem; 
	margin-right: 0.4rem;
}

.inputbuttons{
	width: 90%;
	text-align: right;
	margin-left: 1.4rem;
}

.buttondiv{
	margin-left: 1.4rem;
	width: 90%;
	clear: both;
}

.buttondiv button{
	display: inline-block;
	padding: 10px 20px;
	min-width: 100px;
}

.buttondiv button:last-child{
	float: right;
}

@media only screen and (max-width: 450px) {
	.buttondiv button:last-child{
		float: none;
		margin: 0;
		display: inline-block;
	}

	.buttondiv button{
		margin-bottom: 0.5rem;
	}

	.inputbuttons{
		text-align: left;
		margin-right: 0;
	}

	.inputbuttons button{
		display: inline-block;

	}
}