h2 {
  margin-left: 1.4rem;
  font-weight: bold;
  width: 90%;
  border-bottom: 2px solid black;
}

.questions {
  margin-left: 1.4rem;
  font-size: 25px;
}

.checkbox {
  margin-left: 1.4rem;
  margin-right: 0.4rem;
  transform: scale(1.5);
}

.answer {
  display: inline-block;
  font-size: 25px;
}
