h4 {
	text-align: left;
	margin-left: 1.4rem;
	border-bottom: 2px solid black;
	width: 90%;
}

.mcqheading{
  text-align: center;
  font-weight: bold;
}

.mcqtextareas{
  margin-left: 1.4rem; 
  height: 100px;
  width: 90%;
}

.mcqinputbox{
  margin-left: 1.4rem; 
  width: 90%;
}

.scroll-content{
	height: 560px;
	overflow: auto;
	border: red solid 1px;
}

.mysavebutton{
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 70%;
}

.cancelbutton{
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  width: 70%
}
