@import "foundation";

$back-color: #EDEDED;
$grid-width: 150px;
$grid-spacing: 400px;


body {
	background-color: $back-color;
}

.center {
	margin: auto;
	width: 45%;
	padding: 20px;
}

#button-grid {
	margin-top: 50px;
}

.grid-button {
	margin-bottom: 50px;
}

#button-grid-left {
	width: $grid-width;
	float: left;
}

#button-grid-right {
	width: $grid-width;
	margin-left: $grid-spacing;
}
