@import "foundation";

$back-color: #EDEDED;
$grid-width: 150px;
$grid-spacing: 400px;


body {
	background-color: $back-color;
}

h2{
	margin-left: 1.4rem;
	font-weight: bold;
	width: 90%;
	border-bottom: 2px solid black;
}

#my-canvas {
	margin-top: 0;
	position: static;
	z-index: 1;
}

#button-grid {
	margin-top: 50px;
}

.grid-button {
	width: 180px;
	height: 50px;
	margin-bottom: 40px;
	z-index: 20;
}

#button-grid-left {
	width: $grid-width;
	float: left;
}

#button-grid-right {
	width: $grid-width;
	margin-left: $grid-spacing;
}

.content {
	background: transparent;
}

.questions{
	margin-left: 1.4rem;
	font-size: 25px;
}

.mycheckbutton{
	float: right;
	margin-right: 100px;
}

.mybuttons{
	clear: both;
}

.mynextbutton{
	margin-top: 30px;
	float: right;
	margin-right: 10px;
	border-radius: 10px;
}
.mypreviousbutton{
	margin-top: 30px;
	float: left;
	margin-left: 10px;
	border-radius: 10px;
}


#main {
	width: 100%;
	height: 100%;
}
