@import "foundation";

$back-color: #EDEDED;


body {
	background-color: $back-color;
}

.center {
	margin: auto;
	width: 80%;
}

.center-text {
	text-align: center;
}

#canvas {
	margin: auto;
	margin-top: 2%;
	width: 80%;
	height: 620px;
	padding: 20px;
	background-color: #FFFFFF;
	border-radius: 30px;
	z-index: -1;
}

.div-col {
	margin-left: 2%;
	float: left;
	width: auto;
	padding: 2%;
}

.cell {
	vertical-align: top;
}

.label {
	float: left;
	margin-left: 1.5%;
	margin-right: 4%;
}

.editor-input {
	height: 30px;
	width: 80%;
}

.left {
	float: left;
}

#word-sets-div {
	height: 480px;
	overflow: auto
}

#editing-table-div {
	height: 460px;
	overflow: auto;
}

.editor-row {
	vertical-align: center;
}

.editor-delete {
	float: right;
}

.editor-add {
	margin-left: 3%;
	float: left;
}

#save-pairs-button {
	float: right;
}
