@import "foundation";

$back-color: #EDEDED;
$grid-width: 150px;
$grid-spacing: 400px;

h2{
	margin-left: 1.4rem;
	font-weight: bold;
	width: 90%;
	border-bottom: 2px solid black;
}

#my-canvas {
	position: absolute;
	z-index: 2;
	display: flex !important;
	overflow-y: auto;
}

#button-grid {
	position: absolute;
	z-index: 3;
}

.grid-button {
	width: 180px;
	height: 50px;
	margin-bottom: 40px;
}

#button-grid-left {
	width: $grid-width;
	float: left;
}

#button-grid-right {
	width: $grid-width;
	margin-left: $grid-spacing;
}

.questions{
	margin-left: 1.4rem;
	font-size: 25px;
}

.mycheckbutton{
	z-index: 5;
	display: inline-block;
}

.mynextbutton{
	display: inline-block;
	z-index: 5;
	float: right;
}
.mypreviousbutton{
	margin-top: 30px;
	float: left;
	margin-left: 10px;
	border-radius: 10px;
}


#main {
	width: 100%;
	height: 100%;
}

.alignButtons{
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 300px;
}