{% extends "jTemplate.html" %}

	{% block title %}Register-page{% endblock %} 
	{% block head %} 
		{{ super() }}
	{% endblock %}

	 {% block content %}
 <div class="medium-6 medium-centered large-4 large-centered columns">

	<form>
		<div class="row column log-in-form">
			<h4 class="text-center">Register</h4>
			
			<label>Email
				<input type="text" placeholder="somebody@example.com">
			</label>
			
			<label>Confirm Email
				<input type="text" placeholder="somebody@example.com">
			</label>
			
			<label>Password
				<input type="text" placeholder="Password">
			</label>
			
			<label>Confirm Password
				<input type="text" placeholder="Password">
			</label>
        
			<p><a type="submit" class="button expanded">Register</a></p>
			<p class="text-left"><a href="#">Go back</a></p>   
		
		</div>
    </form>

</div>
	 {% endblock %}


