{% extends "jTemplate.html" %}

{% block title %}Crossword Question Editor{% endblock %}
{% block head %}
{{ super() }}
 <link rel="stylesheet" href="../../../static/css/student-app.css">
{% endblock %}

{% block content %}
    <h3 class="text-center">Crossword Question Editor</h3>
    <p> Select the squares you wish to create a word in and write the word and clue, then click add. </p>
    <div class="crosswordDisplay" id="crosswordEditor"></div>
    <div class="clueInputBox">
        <p>Answer:</p>
        <input class="answerBox" type="text"/>
        <p>Clue:</p>
        <textarea class="clueInput"></textarea>
        <input class="addClue clueButton button" type="button" value="Add"/>
    </div>
    <div class="cluesBox">
        <div class="clueTable">
            <div class="tableTitle">
                <p class="wordTitle">Word</p>
                <p class="clueTitle">Clue</p>
            </div>
            <div class="clueDiv"></div>
        </div>
        <input class="deleteClue clueButton button" type="button" value="Delete Word"/>

    </div>

    <div class="buttondiv">
        <button type="button" class="button cancelbutton" name="cancel_form" id="cancel">Cancel</button>
        <button type="button" class="button mypreviewbutton" name="preview_form" id="preview">Preview</button>
        <button type="submit" class="success button mysavebutton" name="save_form" id="save">Save</button>
    </div>
{% endblock %}


{% block extraJS %}
    <script src="/static/js/crossword.js"></script>
{% endblock %}

