{% extends "jTemplate.html" %}

{% block title %}GapFillEditor{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/student-app.css">
{% endblock %}

{% block content %}
        <div class="crosswordDisplay" id="crosswordEditor"></div>
        <div class="clues">
          <div class="across">
            <h4 class="clueBoxTitle">Across</h4>
            <div class="acrossClueBox"></div>
          </div>
          <div class="down">
            <h4 class="clueBoxTitle">Down</h4>
            <div class="downClueBox"></div>
          </div>
        </div>
                <button type="submit" class="success button mysavebutton" name="save_form" id="submit">Submit</button>
{% endblock %}

{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
<script src="/static/js/crossword3.js"></script>
{% endblock %}