{% extends "jTemplate.html" %}

{% block title %}GapFillEditor{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/student-app.css">
{% endblock %}

{% block content %}
        <p> Select each box an type the letter you think should be there. When finished, you can check your answer or move straight on.</p>
        <div class="crosswordDisplay" id="crosswordEditor"></div>
        <div class="clues">
          <div class="across">
            <h4 class="clueBoxTitle">Across</h4>
            <div class="acrossClueBox"></div>
          </div>
          <div class="down">
            <h4 class="clueBoxTitle">Down</h4>
            <div class="downClueBox"></div>
          </div>
        </div>
        <button type="submit" class="button mysavebutton" name="save_form" id="submit">Next Question</button>
        <button type="button" class="success button mysavebutton" id="check">Check Answer</button>
{% endblock %}

{% block extraJS %}
<script src="/static/js/crossword3.js"></script>
{% endblock %}
