{% extends "jTemplate.html" %}

{% block title %}CW-Preview{% endblock %}
{% block head %}
{{ super() }}
 <link rel="stylesheet" href="../../../static/css/student-app.css">
{% endblock %}

{% block content %}
<div class="crosswordDisplay" id="crosswordEditor"></div>
        <div class="clues">
          <div class="across">
            <h4 class="clueBoxTitle">Across</h4>
            <div class="acrossClueBox"></div>
          </div>
          <div class="down">
            <h4 class="clueBoxTitle">Down</h4>
            <div class="downClueBox"></div>
          </div>
        </div>
{% endblock %}

{% block sidebarContent %}
  <a href="#">Create Quiz</a>
  <a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
    <script src="/static/js/crossword2.js"></script>
{% endblock %}

