{% extends "jTemplate.html" %}

{% block title %}CW-Preview{% endblock %}
{% block head %}
{{ super() }}
 <link rel="stylesheet" href="../../../static/css/student-app.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.js"></script>
  <script src="../../../node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../../../static/js/mc-creation-update.js"></script>


{% endblock %}

{% block content %}
<div class="crosswordDisplay" id="crosswordEditor"></div>
        <div class="clues">
          <div class="across">
            <h4 class="clueBoxTitle">Across</h4>
            <div class="acrossClueBox"></div>
          </div>
          <div class="down">
            <h4 class="clueBoxTitle">Down</h4>
            <div class="downClueBox"></div>
          </div>
        </div>
{% endblock %}

{% block sidebarContent %}
  <a href="#">Create Quiz</a>
  <a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
    <script src="../../../static/js/crossword2.js"></script>
{% endblock %}

