<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="./static/css/app.css">
    <link rel="stylesheet" href="./static/css/student-app.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="title-bar">
        <span class="title-bar-title">LQ.</span>
        <div class="title-bar-right">
          <button class="loginButton">LOGIN</button>
        </div>
      </div>
      <div class="content">
        <div class="crosswordDisplay" id="crosswordEditor"></div>
        <div class="clues">
          <div class="across">
            <h4 class="clueBoxTitle">Across</h4>
            <div class="acrossClueBox"></div>
          </div>
          <div class="down">
            <h4 class="clueBoxTitle">Down</h4>
            <div class="downClueBox"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <button class="hamburger" type="button">
        <span class="topLine"></span>
        <span class="innerLine"></span>
        <span class="bottomLine"></span>
      </button>
      <div class="menu-content">
        <nav class="menu-left">
          <a href="#">Sample Page</a>
          <a href="#">Sample Page</a>
          <a href="#">Sample Page</a>
        </nav>
      </div>
    </div>

    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/what-input/dist/what-input.js"></script>
    <script src="./node_modules/foundation-sites/dist/js/foundation.js"></script>
    <script src="./js/menuAnimation.js"></script>
    <script src="./js/crossword.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            initCrosswordQuestion('#crosswordEditor');
            var exampleCrossword = {
                data:[
                    {'direction':'D','length':'5','x':'0','y':'1','clue':'Who made this quiz'},
                    {'direction':'A','length':'5','x':'4','y':'0','clue':'Strongly Dislike'},
                    {'direction':'D','length':'10','x':'0','y':'4','clue':'Worst language'}
                ]
            };
            drawQuestions(exampleCrossword)
        })
    </script>
  </body>
</html>
