{% extends "jTemplate.html" %}

{% block title %}GapFillEditor{% endblock %}
{% block head %}
{{ super() }}
<script src="//cdn.ckeditor.com/4.6.2/standard-all/ckeditor.js"></script>
<link rel="stylesheet" href="/static/css/teacher-app.css">
{% endblock %}

{% block content %}
<textarea id="gapFillInput" name="gapFillInput"></textarea>
<input type="button" class="gapFillBack gapFillButton" value="Back" onclick="openCKEDITOR()">
<input type="button" class="gapFillNext gapFillButton" value="Next" onclick="closeCKEDITOR()"/>
<div class="gapFillSelectBox"></div>
<input type="button" class="gapFillSelect gapFillButton" value="Add Gap" onclick="addGap()"/>
<input type="button" class="gapFillDelete gapFillButton" value="Delete Gap" onclick="deleteGap()"/>
<select class="gapFillAnswerOptions" onchange="getChange(this)"></select>
<div class="gapFillAlt">
    <div class="gapFillAltAnswers"></div>
    <input type="text" class="gapFillAltInput" placeholder="Please type in alternate answer"/>
    <input type="button" class="gapFillAltAdd gapFillButton" value="Add alternative" onclick="addAltGap()"/>
    <input type="button" class="gapFillAltDelete gapFillButton" value="Remove Alternative" onclick="deleteAltGap()"/>
</div>
<label><input class="gapFillDrag" type="checkbox"/> Drag and drop</label>
<input type="button" class="createGapFill gapFillButton" value="Done"/>

{% endblock %}

{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
<script src="/static/js/gapFill.js"></script>
{% endblock %}
