{% extends "jTemplate.html" %}

{% block title %}GapFillDisplay{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/teacher-app.css">
{% endblock %}

{% block content %}
<form action="/gf/question/{{ question.pk }}/{{ score }}/check/" method="post" id='post-form'>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="gapFillQuestionDiv" id="gapFillQuestionDiv">
    <label class="gapFillQuestions">
    {% set index = [] %}
    {% for word in gapfilled %}
    {% if word == '$$ $$' %}
    {% set __ = index.append(1) %}
    <input type="text" id={{ index|length }} name="answers">
    {% else %}
    {{ word }}
    {% endif %}
    {% endfor %}
    </label>
</div>
<input type="hidden" id="correct" value="{{ question.gaps }}">
<button type="submit" class="button mynextbutton" name="save_form">Next Question</button>
<button type="button" class="success button mysavebutton" id="check">Check Answer</button>
</form>

{% endblock %}

{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
  <script src="/static/js/GF-display.js"></script>
{% endblock %}
