{% extends "jTemplate.html" %}

{% block title %}GapFillDisplay{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/teacher-app.css">
{% endblock %}

{% block content %}
<form action="/gf/question/{{ question.pk }}/{{ score }}/check/" method="post" id='post-form'>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="gapFillQuestionDiv">
    <label class="gapFillQuestions">
    {% for word in gapfilled %}
    {% if word == '$$ $$' %}
    <input type="text" id="answers" name="answers">
    {% else %}
    {{ word }}
    {% endif %}
    {% endfor %}
    </label>
</div>
<button type="submit" class="button mynextbutton" name="save_form">Next Question</button>
</form>

{% endblock %}

{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}

{% endblock %}
