{% extends "jTemplate.html" %}

{% block title %}GapFillDisplay{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/teacher-app.css">
{% endblock %}

{% block content %}
<div class="gapFillQuestionDiv">
    <label class="gapFillQuestions">
        Hello
        <span class="gapFillBox"></span>
        name is
        <span class="gapFillBox"></span>
        . This is an
        <span class="gapFillBox"></span>
        sentence that
        <span class="gapFillBox"></span>
        might choose to
        <span class="gapFillBox"></span>
        .
    </label>
</div>
<input type="button" class="gapFillComplete gapFillButton" value="Done"/>


{% endblock %}

{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}

{% endblock %}