{% extends "jTemplate.html" %}

{% block title %}GapFillPreview{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/teacher-app.css">
{% endblock %}

{% block content %}
<div class="gapFillQuestionDiv" id="gapFillQuestionDiv">
</div>
<input type="button" class="gapFillComplete gapFillButton" value="Done"/>

{% endblock %}

{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
<script src="/static/js/GF-preview.js"></script>
{% endblock %}