{% extends "jTemplate.html" %}

{% block title %}Multiple choice question editor{% endblock %}
{% block head %}
{{ super() }}
  <link rel="stylesheet" href="/static/css/mc-update.css">
{% endblock %}

{% block content %}
      <form action="/mc/submit/" method="post" id='post-form'>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <h2 class="mcheading">MCQ Quiz Creation</h2>
        <div>
          <h4>Type your question below</h4>
          <textarea class="mctextareas req" placeholder="Type your question in here" name="title" id="title"></textarea>
          <h4>Type in the correct answer below</h4>

          <div id="addAnswer" >
            <input id="correct" type="text" class="mcinputbox req" name="correct" placeholder="Type your answer in here">
            <h4>Type in the other answers below</h4>
            <input id="answers" type="text" class="mcinputbox req" name="answers[]" placeholder="Type your answer in here">
            <input id="answers" type="text" class="mcinputbox req" name="answers[]" placeholder="Type your answer in here">
            <input id="answers" type="text" class="mcinputbox req" name="answers[]" placeholder="Type your answer in here">
          </div>

          <div class="button-group inputbuttons">
            <button type="button" class="button" id="addField">Add field</button>
            <button type="button" class="button" id="removeField">Remove field</button></br>
          </div>

          <div class="buttondiv">
            <button type="submit" class="button cancelbutton" name="cancel_form">Cancel</button>
            <button type="button" class="button mypreviewbutton" id="preview">Preview</button>
            <button type="submit" class="success button mysavebutton" name="save_form">Save</button>
          </div>
        </div>

        <input id="quiz" type="hidden" name="quiz" value="{{ quizid }}">
        <input id="position" type="hidden" name="position" value="{{ pos }}">
      </form>
{% endblock %}

{% block extraJS %}
  <script src="/static/js/mc-creation-update.js"></script>
{% endblock %}

