<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../../../static/css/app.css">
   <link rel="stylesheet" href="../../../static/css/mcq-display.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald&amp;subset=latin-ext" rel="stylesheet">
    {#  <script src="../../../node_modules/jquery/dist/jquery.js"></script>#}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>

    <div class="container"> <!-- start of container -->
      <div class="title-bar"> <!-- start of title bar -->
        <span class="title-bar-title">LQ    //    TEACHER</span>
        <div class="title-bar-right"> <!-- start of title bar right -->
          <button class="logoutButton">LOGOUT</button>
        </div>  <!-- end of title bar right -->
      
      </div>  <!-- start of title bar -->
      
{% block content %}

 <div class="content scroll-content">    
    <h2 class = "mcqheading">Question x</h2>
    
    <p class="questions" id=q>{{ question.title }}</p></br>
    <div>
    <form action="/mc/question/{{ question.pk }}/{{ score }}/check/" method="post" id='post-form'>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </br>
    <div>
    {% if question.answers != "" %}
    {% set list = question.answers %}
      {% for answer in list|shuffle %}
     <input type="radio" class="checkbox" name="answers" value={{ answer }}>
      <p class="answer" id=a1> {{ answer|e }}</p></br>

    {% endfor %}
    {% endif %}
    
    
    </div>

      </div>  <!-- end of content -->
              <button type="submit" class="success button mysavebutton" name="save_form">Submit</button>
    </div>  <!-- end of container -->
{% endblock %}

    </form>
    
    </div>
      </div>  <!-- end of content -->
    </div>  <!-- end of container -->

    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/what-input/dist/what-input.js"></script>
    <script src="./node_modules/foundation-sites/dist/js/foundation.js"></script>
    <script src="./js/menuAnimation.js"></script>
  </body>
</html>

