{% extends "jTemplate.html" %}

{% block title %}Multiple choice question preview{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/mc-display.css">
{% endblock %}

{% block content %}

    <h2 class = "mcqheading">Question x</h2>
    <p> Select one answer. You can then check it, or move straight to the next question <p>
    <div id="title">
    </div>
    <div id="choices">
    </div>
{% endblock %}

{% block extraJS %}
  <script src="/static/js/mc-preview.js"></script>
{% endblock %}
