{% extends "jTemplate.html" %}

{% block title %}MCQ-Display{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/mc-display.css">
{% endblock %}

{% block content %}

    <h2 class = "mcqheading">Question x</h2>

    <div id="title">
    </div>
    <div id="choices">
    </div>
{% endblock %}

{% block sidebarContent %}
  <a href="#">Create Quiz</a>
  <a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
  <script src="/static/js/mc-preview.js"></script>
{% endblock %}