<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../../../static/css/app.css">
	<link rel="stylesheet" href="../../../static/css/mcq-update.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald&amp;subset=latin-ext" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.js"></script>
	<script type="text/javascript" src="../../../static/js/mcq-creation-update.js"></script>
{#	<script src="../../../node_modules/jquery/dist/jquery.js"></script>#}
  </head>
  <body>
    <div class="container"> <!-- start of container -->
      <div class="title-bar">	<!-- start of title bar -->
        <span class="title-bar-title">LQ 		//		TEACHER</span>
        <div class="title-bar-right">	<!-- start of title bar right -->
          <button class="logoutButton">LOGOUT</button>
        </div>	<!-- end of title bar right -->
			
      </div>	<!-- start of title bar -->
      <div class="content scroll-content">		

      				<form action="/mcq/save/" method="post">
      				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    			<label for="name">Save:  </label>
    			<input id="correct" type="text" name="correct" value="correct answer">
				<input id="answers" type="text" name="answers" value="the rest of answers">
				<input id="title" type="text" name="title" value="title">
    			<input type="submit" value="OK">
			</form>


			<form target="_blank" action="/mcq/preview/" method="post">
      				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    			<label for="name">Preview: </label>
    			<input id="correct" type="text" name="correct" value="correct answer">
				<input id="answers" type="text" name="answers" value="the rest of answers">
				<input id="title" type="text" name="title" value="title">
    			<input type="submit" value="OK">
			</form>
			
		<form>  



      				
			
		 



			<label><h2 class="mcqheading">MCQ Quiz Creation</h2></label>
			<div>
				<h4>Type your question below</h4>
				<textarea class="mcqtextareas" placeholder="Type your question in here" id="title"></textarea>
			</div>
			
			<h4>Type your answers below</h4>



			
			<div id="addAnswer">
				<input type="checkbox" class="checkbox" id="ch1">
				<input type="text" class="mcqinputbox" placeholder="Type your answer in here" id="a1"></br>

				<input type="checkbox" class="checkbox" id="ch2">
				<input type="text" class="mcqinputbox" placeholder="Type your answer in here" id="a2"></br>

				<input type="checkbox" class="checkbox" id="ch3">
				<input type="text" class="mcqinputbox" placeholder="Type your answer in here" id="a3"></br>

				<input type="checkbox" class="checkbox" id="ch4">
				<input type="text" class="mcqinputbox" placeholder="Type your answer in here" id="a4"></br>
				
			</div>

			<div class="button-group inputbuttons">
					<button type="button" class="button" id="addField">Add field</button>
  					<button type="button" class="button" id="removeField">Remove field</button></br>
			</div>	


			<div class="buttondiv">		
              <button type="button" class="success button mysavebutton", id="saveQuestion">Save</button>
              <button type="button" class="button cancelbutton" id="cancelQuestion">Cancel</button>
            </div>

		</form>
		</div>  <!-- end of content -->
    </div>	<!-- end of container -->

    <div class="sidebar">
      <button class="hamburger" type="button">
        <span class="topLine"></span>
        <span class="innerLine"></span>
        <span class="bottomLine"></span>
      </button>
      <div class="menu-content">
        <nav class="menu-left">
          <a href="#">Create Quiz</a>
          <a href="#">View Quizzes</a>
        </nav>
      </div>
    </div>

{#    <script src="../../../node_modules/jquery/dist/jquery.js"></script>#}
{#    <script src="../../../node_modules/what-input/dist/what-input.js"></script>#}
{#    <script src="../../../node_modules/foundation-sites/dist/js/foundation.js"></script>#}
    <script src="../../../static/js/menuAnimation.js"></script>
{#    <script src="../../../js/mcq-creation-update.js"></script>#}
  </body>
</html>
