    {% extends "jTemplate.html" %}

{% block title %}WM-Creation{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/quiz-editor-word-matching.css">
{% endblock %}

{% block content %}
        <h2 class="center-text">Word Matching Quiz Editor</h2>
        <form action="/wm/submit/" method="post" id='post-form'>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div>
                <h4>Type your question below. The words on the left will need to be matched to the correct words on the right when someone attempts this question.</h4>
                <textarea class="mctextareas req" placeholder="Type your question in here" name="title" ></textarea>
                <h4>Type your correct answer below</h4>

                <input id="quiz" type="hidden" class="mcinputbox" name="quiz" value="{{ quizid }}">
                <input id="position" type="hidden" class="mcinputbox" name="position" value="{{ pos }}">

                <div class="center" id="editing-div">

                </div>
                <div class="buttondiv">
                    <button type="submit" class="button cancelbutton" name="cancel_form">Cancel</button>
                    <button type="button" class="button cancelbutton" id="preview">Preview</button>
                    <button type="submit" class="success button mysavebutton" name="save_form">Save</button>
                </div>
            </div>
        </form>
{% endblock %}

{% block extraJS %}
<script type="text/javascript" src="../../../static/js/quiz-editor-word-matching.js"></script>
{% endblock %}
