<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../static/css/app.css">
	<link rel="stylesheet" href="../../../static/css/quiz-editor-word-matching.css">

	        <link href="https://fonts.googleapis.com/css?family=Lato|Oswald&amp;subset=latin-ext" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.js"></script>

    </head>
    <body>


	<div class="container">
		<div class="title-bar">
			<span class="title-bar-title">LQ 		//		TEACHER</span>
			<div class="title-bar-right">
				<button class="logoutButton">LOGOUT</button>
			</div>
			
      		</div>
      		<div class="content">
			<div class="center" id="canvas">


				<h2 class="center-text">Word Matching Quiz Editor</h2>

      <div>
        <h4>Type your question below</h4>
                <textarea class="mctextareas" placeholder="Type your question in here" name="title"></textarea>
      <h4>Type your correct answer below</h4>


				<div class="center" id="editing-div">
			
				</div>
            <div class="buttondiv">   
              <button type="submit" class="button cancelbutton" name="preview_form" id="preview">Preview</button>
              <button type="submit" class="success button mysavebutton" name="save_form">Save</button>
              <button type="submit" class="button cancelbutton" name="cancel_form">Cancel</button>
            </div>



			</div>
      		</div>
    	</div>

	<div class="sidebar">
      		<button class="hamburger" type="button">
			<span class="topLine"></span>
			<span class="innerLine"></span>
			<span class="bottomLine"></span>
      		</button>
      		<div class="menu-content">
        		<nav class="menu-left">
          			<a href="#">Create Quiz</a>
          			<a href="#">View Quizzes</a>
        		</nav>
      		</div>
	</div>
{#    <script src="../../../node_modules/jquery/dist/jquery.js"></script>#}
{#    <script src="../../../node_modules/what-input/dist/what-input.js"></script>#}
{#    <script src="../../../node_modules/foundation-sites/dist/js/foundation.js"></script>#}
<script type="text/javascript" src="../../../static/js/quiz-editor-word-matching.js"></script>
    </body>
</html>
