{% extends "jTemplate.html" %}

{% block title %}Word Matching Display{% endblock %}

{% block head %}
{{ super() }}
	<link rel="stylesheet" href="/static/css/quiz-word-matching.css">
{% endblock %}

{% block content %}
<div id="main">
    <!-- Canvas for drawing lines -->

    <h2 class = "mcqheading"> Question {{ question.position }} </h2>
    <p class="questions">{{ question.title }}</p>
    <form action="/wm/question/{{ question.pk }}/{{ score }}/check/" method="post" id='post-form'>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <p> Connect the words that you think correspond. You can then check your answer or move straight to the next question.</p>
        <div id="leftwords">
            {% if question.listA != "" %}
            {% set list = question.listA %}

            {% for answer in list %}
            <input type="hidden" id={{ loop.index }} value="{{ answer|e }}">

            {% endfor %}
            {% endif %}
        </div>

        <div id="rightwords">
            {% if question.listA != "" %}
            {% set list = question.listB %}

            {% for answer in list %}
            <input type="hidden" id={{ loop.index }} value="{{ answer|e }}">

            {% endfor %}
            {% endif %}
        </div>

        <div class="alignButtons">
            <canvas id="my-canvas" width="700" height="300"></canvas>
            <!-- Button grid -->
            <div id="button-grid" class="center">
                <!-- Left button grid -->
                <div id="button-grid-left">

                </div><!-- end of Left button grid-->

                <!-- Right button grid -->
                <div id="button-grid-right">

                </div><!-- end of Right button grid-->

            </div><!-- end of Button grid -->
        </div>

        <input type="hidden" name="listA" id="listA">
        <input type="hidden" name="listB" id="listB">

        <div class="mybuttons">
            <button type="button" class="success button mycheckbutton" id="check">Check Answer</button>
            <button type="submit" class="button mynextbutton" name="save_form" >Next Question</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extraJS %}
<script type="text/javascript" src="/static/js/quiz-word-matching.js"></script>
{% endblock %}


