{% extends "jTemplate.html" %}

{% block title %}WM-Display{% endblock %}

{% block head %}
{{ super() }}
	<link rel="stylesheet" href="/static/css/quiz-word-matching.css">
{% endblock %}

{% block content %}
<div id="main">
    <!-- Canvas for drawing lines -->
    <canvas id="my-canvas" width="700" height="500"></canvas>

    <form action="/wm/question/{{ question.pk }}/{{ score }}/check/" method="post" id='post-form'>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div id="leftwords">
            {% if question.listA != "" %}
            {% set list = question.listA %}

            {% for answer in list %}
            <input type="hidden" id={{ loop.index }} value={{ answer|e }}>

            {% endfor %}
            {% endif %}
        </div>

        <div id="rightwords">
            {% if question.listA != "" %}
            {% set list = question.listB %}

            {% for answer in list %}
            <input type="hidden" id={{ loop.index }} value={{ answer|e }}>

            {% endfor %}
            {% endif %}
        </div>



        <!-- Button grid -->
        <div id="button-grid" class="center">
            <!-- Left button grid -->
            <div id="button-grid-left">

            </div><!-- end of Left button grid-->

            <!-- Right button grid -->
            <div id="button-grid-right">

            </div><!-- end of Right button grid-->

        </div><!-- end of Button grid -->

	<input type="hidden" name="listA" id="listA">
    <input type="hidden" name="listB" id="listB">

        <button type="submit" class="success button mysavebutton" name="save_form" >Submit</button>
	<button type="button" class="success button mysavebutton" id="check">Check Answer</button>

    </form>

</div>
{% endblock %}

{% block container %}
<div id="message" class="callout">

</div>
{% endblock %}


{% block sidebarContent %}
  <a href="#">Create Quiz</a>
  <a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
<script type="text/javascript" src="/static/js/quiz-word-matching.js"></script>
{% endblock %}


