{% extends "jTemplate.html" %}

{% block title %} WordScramble{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/word-scramble.css"/>
{% endblock %}

{% block content %}
      <form action=/ws/submit/ method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="">
          <h3 class="text-center">Create a Sentence Scramble Question</h3>
          <input type="text" id="title" class="req" name="title" placeholder="Enter the question title">
          <label>Enter the sentence to be scrambled
            <textarea type="text" id="answer" name="answer" placeholder="This is the sentence to be scrambled"></textarea>
          </label>
          <label>Enter the scrambled version of your sentence
            <textarea type="text" id="scrambled_sentence" class="req" name="scrambled_sentence" placeholder="This is the scrambled sentence"></textarea>
          </label>
            <div class="buttondiv">
              <button type="submit" class="button cancelbutton" name="cancel_form">Cancel</button>
              <button type="button" class="button cancelbutton" id="preview">Preview</button>
              <button type="submit" class="success button mysavebutton" name="save_form">Save</button>
            </div>
        </div>

          <input id="quiz" type="hidden" class="mcinputbox" name="quiz" value="{{ quizid }}">
          <input id="position" type="hidden" class="mcinputbox" name="position" value="{{ pos }}">
      </form>
{% endblock %}

{% block extraJS %}
<script type="text/javascript" src="/static/js/word-scramble.js"></script>
{% endblock %}
