<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../../../static/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="title-bar">
        <span class="title-bar-title">LQ 		//		TEACHER</span>
			
      </div>
      <div class="content">
			<div class="medium-6 medium-centered large-4 large-centered columns">

    <form action=/ws/submit/ method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <div class="row column log-in-form">
        <h4 class="text-center">Create a Sentence Scramble Question</h4>
        <input type="text" id="title" name="title" placeholder="Enter the question title">
        <label>Enter the sentence to be scrambled
          <input type="text" id="answer" name="answer" placeholder="This is the sentence to be scrambled">
        </label>
		 <label>Enter the scrambled version of your sentence
          <input type="text" id="scrambled_sentence" name="scrambled_sentence" placeholder="This is the scrambled sentence">
        </label>       
        <input type="submit" name="save_form" value="Save" />
        <input type="submit" name="preview_form" value="Preview" />
        <input type="submit" name="cancel_form" value="Cancel" />
      </div>
    </form>
      </div>
    </div>

    <div class="sidebar">
      <button class="hamburger" type="button">
        <span class="topLine"></span>
        <span class="innerLine"></span>
        <span class="bottomLine"></span>
      </button>
      <div class="menu-content">
        <nav class="menu-left">
          <a href="#">Create Quiz</a>
          <a href="#">View Quizzes</a>
        </nav>
      </div>
    </div>

    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/what-input/dist/what-input.js"></script>
    <script src="./node_modules/foundation-sites/dist/js/foundation.js"></script>
    <script src="./js/menuAnimation.js"></script>
  </body>
</html>
