{% extends "jTemplate.html" %}

{% block title %}WS-Creation{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/css/word-scramble.css">
{% endblock %}

{% block content %}
<div class="alignmentDiv">
		<h2 class = "mcqheading"> Question {{ question.position}}</h2>
        <form action="/ws/question/{{ question.pk }}/{{ score }}/check/" method="post" id='post-form'>
        	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        	<div class="wsheading"> <p class="questions">{{ question.title }}<p></div>
        	<div id="boxes">
            	{% for scramble in question.answer.split(' ') | shuffle_unique %}
           	 	<div class="box" draggable="true">{{ scramble }}</div>
            	{% endfor %}
        	</div>
        	<button type="button" class="success button mycheckbutton" id="check">Check Answer</button>
</div>
			<div class="mybuttons">
				<button type="submit" class="button mynextbutton" name="save_form">Next Question</button>
			</div>
		
			<input type="hidden" id="correct" value="{{ question.answer }}">
			<input type="hidden" name="answer" id="answer">
    	</form>
{% endblock %}


{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
<script type="text/javascript" src="/static/js/word-scramble.js"></script>
{% endblock %}
