{% extends "jTemplate.html" %}

{% block title %}WS-Creation{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/css/word-scramble.css">
{% endblock %}

{% block content %}
<div class="alignmentDiv">
        <form action="/ws/question/{{ question.pk }}/{{ score }}/check/" method="post" id='post-form'>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="wsheading"> <h1>{{ question.title }}</h1></div>
        <div id="boxes">
            {% for scramble in question.scrambled_sentence.split(' ') %}
            <div class="box" draggable="true"> {{ scramble }}</div>
            {% endfor %}
        </div>

</div>

<div id="answer">
<div class="answer">
<input type="hidden" name="answer" id="answer" value="">
</div>
</div>

<button type="submit" class="success button mysavebutton" name="save_form">Submit</button>
    </form>
{% endblock %}


{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
<script type="text/javascript" src="/static/js/word-scramble.js"></script>
{% endblock %}
