{% extends "jTemplate.html" %}

{% block title %}WS-Creation{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/css/word-scramble.css">
{% endblock %}

{% block content %}
<div class="alignmentDiv">
    <form method="get">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="wsheading"> <h1>{{ question.title }}</h1></div>
        <div id="boxes">
            {% for scramble in question.scrambled_sentence.split(' ') %}
            <div class="box" draggable="true"> {{ scramble }}</div>
            {% endfor %}
        </div>
        <input type="button" onclick="proceed();" value="Submit"/>
    </form>
</div>
{% endblock %}


{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
<script type="text/javascript" src="/static/js/word-scramble.js"></script>
{% endblock %}
