{% extends "jTemplate.html" %}

{% block title %}Word Scramble question preview{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/css/word-scramble.css">
{% endblock %}

{% block content %}
<div class="alignmentDiv">

        <div class="wsheading"> <h1></h1></div>
        <p> Reorder these words by clicking and dragging to the order you think is right. You can then check your answer or move straight onto the next question </p>
        <div id="boxes">
            <div class="box" draggable="true"></div>
        </div>

</div>
{% endblock %}

{% block extraJS %}
<script type="text/javascript" src="/static/js/word-scramble-preview.js"></script>
{% endblock %}
