{% extends "jTemplate.html" %}

{% block title %}WS-Creation{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/word-scramble.css">
{% endblock %}

{% block content %}

<form method="get">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="wsheading"> <h1>{{ form.title.value() }}</h1></div>
    <div id="columns">
        {% set list = form.scrambled_sentence.value().split(' ') %}

        {% for word in list %}
        <div class="column" draggable="true"> {{ word }}</div>
        {% endfor %}
    </div>
    {% endblock %}

    <button type="button" onclick="proceed();">Submit</button>
</form>
{% endblock %}

{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
<script type="text/javascript" src="/static/js/word-scramble.js"></script>
{% endblock %}
