{% extends "jTemplate.html" %}

{% block title %}GapFillDisplay{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/student-app.css">
{% endblock %}

{% block content %}
<div class="crosswordDisplay" id="crosswordEditor"></div>
<div class="clueInputBox">
    <p>Answer:</p>
    <input class="answerBox" type="text"/>
    <p>Clue:</p>
    <textarea class="clueInput"></textarea>
    <input class="addClue clueButton" type="button" value="Add"/>
</div>
<div class="cluesBox">
    <div class="clueTable">
        <div class="tableTitle">
            <p class="wordTitle">Word</p>
            <p class="clueTitle">Clue</p>
        </div>
        <div class="clueDiv"></div>
    </div>
    <input class="deleteClue clueButton" type="button" value="Delete Word"/>
</div>

{% endblock %}

{% block sidebarContent %}
<a href="#">Create Quiz</a>
<a href="#">View Quizzes</a>
{% endblock %}

{% block extraJS %}
<script src="/static/js/crossword.js"></script>
{% endblock %}
