{% extends "jTemplate.html" %}

 {% block title %}MCQ-Display{% endblock %} 
 {% block head %} 
	{{ super() }}
	 <link rel="stylesheet" href="./static/css/mcq-display.css">

	
 {% endblock %}
 
 {% block content %}

 <div class="scroll-content">	

 <h2 class = "mcqheading">Question x</h2>
		
		<p class="questions">Question goes here?</p></br>

		<div>
			<input type="checkbox" class="checkbox">
			<p class="answer">answer 1</p></br>

			<input type="checkbox" class="checkbox">
			<p class="answer">answer 2</p></br>

						<input type="checkbox" class="checkbox">
			<p class="answer">answer 3</p></br>

						<input type="checkbox" class="checkbox">
			<p class="answer">answer 4</p></br>
		</div>
      </div> 
	  
	  <div class="button-group">
			<a class="button">Back</a>
			<a class="button">Next</a>
		</div>
		 <p><a type="submit" class="button">Done</a></p>
{% endblock %}
	  
{% block sidebarContent %}
	<a href="#">Create Quiz</a>
    <a href="#">View Quizzes</a>
{% endblock %}	  
 


