<!doctype html>
<html class="no-js" lang="en">

<head>
    {% block head %}
		<meta charset="utf-8">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>{% block title %}{% endblock %} -Template</title>
		<link rel="stylesheet" href="/static/css/app.css" />
		<link href="https://fonts.googleapis.com/css?family=Lato|Oswald&amp;subset=latin-ext" rel="stylesheet">
    {% endblock %}
</head>

<body>
<div class="container">
      <div class="title-bar">
          <button class="hamburger" type="button">
              <span class="topLine"></span>
              <span class="innerLine"></span>
              <span class="bottomLine"></span>
          </button>
          <span class="title-bar-title">LQ.</span>
      </div>
    <div class="content">{% block content %}{% endblock %}</div>
</div>

<div class="sidebar">
    <button class="cross" type="button">
        <span class="crossPositive"></span>
        <span class="crossNegative"></span>
    </button>
    <div class="menu-content">
        <nav class="menu-left">
			{% block sidebarContent %}
			{% endblock %}
        </nav>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/4.1.1/what-input.js"></script>
<script src="/static/js/menuAnimation.js"></script>
{% block extraJS %}{% endblock %}

</body>


</html>
